@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-weight: bold;
}
html {
  scroll-behavior: smooth;
}
/* ----------------------------------------------------------- is start-section-1 ---------------------------------------- --
------------------------------------------------------------------------------------------------------------------------------- */
.cont {
  width: 1072px;
  margin: 0 auto;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0px;
}
.header-top a {
  text-decoration: none;
}

/* ------------- is start navbar ----------------------
---------------------------------------------------- */

.navbar {
  width: 100%;
  height: 709px;
  background-image: url(Images/Headerimage.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.left a {
  color: black;
  font-weight: bold;
}
.navbar-1 {
  background-color: #3f78e0;
  height: 65px;
  display: flex;
  align-items: center;
}

.navbar-1 ul {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 73px;
}
.navbar-1 li {
  margin-right: 10px;
  position: relative;
}
.navbar-1 a {
  text-decoration: none;
  color: white;
  font-weight: 100;
}
a:hover {
  color: #9aa4a7;
}
.navbar-1 li::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 20%;
  transform: translate(-50%);
  height: 61%;
  border-left: 2px solid #ffffff;
}
.navbar-1 li:first-child::before {
  border-left: none;
}

/* <!-------------------- Header- Hero section -------------
-----------------------------------------------------------> */

.Tag {
  padding: 96px 0;
  width: 535px;
  color: #1a2f4c;
}
.header p {
  line-height: 28px;
  color: #25465f;
  font-size: 15px;
  font-weight: bold;
}
.header h1 {
  font-size: 57px;
  margin: 0px;
}

.header-bottom {
  background-color: white;
  height: 238px;
  padding: 0px 80px;
  font-size: 18px;
}

.bottom-left {
  float: right;
  width: 391px;
  color: #25465f;
}
.bottom-right {
  float: left;
  width: 386px;
  color: #25465f;
}
.bottom-left p {
  font-size: 17px;
  margin-bottom: 37px;
}
.bottom-right p {
  font-size: 17px;
  margin-bottom: 37px;
}
/* --------------------------------------------------  paneal-1  ---------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------ */
.panel {
  background-color: white;
}
.Tag-left {
  float: left;
  color: #5f778a;
  margin-left: 14px;
}
.box-div {
  border: 16px solid #edeff0;
  float: right;
  margin-top: 50px;
}
.Tag-right {
  padding: 35px 48px;
  color: #333333;
}
.Tag-left p {
  width: 666px;
  line-height: 28px;
  font-size: 17px;
  color: #25465f;
}
.icons button {
  margin: 19px 82px;
  background-color: white;
  border: none;
  font-size: 16px;
}
.icons-1 button {
  background-color: white;
  border: none;
  font-size: 17px;
  margin-left: -7px;
}

/* - --------------------------------------------------  paneal-2  ---------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------- */

.panel-2 {
  background-image: url(Images/Bglightpurple.png);
  background-position: center;
  background-size: cover;
  height: 576px;
  background-color: #f7f8fb;
}

.grid-container {
  display: grid;
  grid-template-columns: 284px 263px 265px;
  gap: 129px;
  row-gap: 24px;
  color: #25465f;
  line-height: 26px;
}
/* 
<!-- --------------------------------------------------  paneal-3  ---------------------------------------------------------
---------------------------------------------------------------------------------------------------------------> */

.panel-3 {
  background-color: #ffffff;
}
.sec {
  align-items: center;
  display: flex;
  border-bottom: #1a2f4c;
}
.left-container {
  color: #425f74;
  margin-left: 105px;
}
.left-container button {
  background-color: #3f78e0;
  color: white;
  padding: 16px 12px;
  margin: 17px 0px;
  padding-right: 55px;
}
.get-btn:hover {
  background-color: #7396d6;
  color: #e7e7e7d2;
}
.line {
  background-color: #f3f7ff;
  height: 35px;
  text-align: center;
  line-height: 33px;
}
/* <!-- --------------------------------------------------  paneal-4  ---------------------------------------------------------
-----------------------------------------------------------------------------------------------------> */
.panel-4 {
  background-color: #ffffff;
}
.sec-1 {
  height: 391px;
}
.grid-container-1 {
  display: flex;
  color: #25465f;
  padding: 40px 0px;
  line-height: 23px;
  gap: 48px;
}
.grid-item-1 h1 {
  font-size: 22px;
}
.grid-item-1 img {
  width: 228px;
}

/* <!-- --------------------------------------------------  paneal-5 // table ---------------------------------------------------------
--------------------------------------------------------------- -----------------------------> */

.panel-5 {
  background-color: #f3f7ff;
}
.sec-2 {
  display: flex;
}

.table-1 {
  margin: 60px 51px;
  padding: 21px 20px;
  border-radius: 11px;
  background-color: #ffffff;
}

.table-1 td,
tr,
th {
  padding: 8px 39px;
  background-color: #ffffff;
  font-weight: bold;
}

.table-1 th {
  color: #005bff;
  text-align: justify;
  font-weight: unset;
}
/* <!-- --------------------------------------------------  paneal-6  ---------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------> */

.panel-6 {
  height: 234px;
  width: 100%;
  background-image: url(Images/Map.png);
}
.Map {
  text-align: center;
  font-size: 25px;
  color: #1f5fd3;
  line-height: 0px;
}
.Map-btn {
  text-align: center;
  color: white;
}
.btn-1 {
  padding: 16px 31px;
  margin: 26px 21px;
  color: white;
  background-color: #1f5fd3;
  border: none;
}
.btn-2 {
  padding: 16px 20px;
  color: white;
  background-color: #1f5fd3;
  border: none;
}
.btn-1:hover {
  background-color: #7396d6;
  color: #e7e7e7d2;
}
.btn-2:hover {
  background-color: #7396d6;
  color: #e7e7e7d2;
}
/* <!------------------------------------------------------------section footer is start---------------------------------------------------
            ------------------------------------------------------------------------------------------------------------------------> */
.footer {
  background-image: url(Images/Footerbg.png);
  width: 100%;
  background-color: #edf0f4;
  padding: 30px 0px;
}
.div-1 {
  width: 71px;
  height: 54px;
  border: 5px solid #1f5fd3;
  margin: 21px;
  text-align: center;
}
.footer-1 {
  display: flex;
  gap: 125px;
  border-bottom: 1px solid #e3e5e8;
  line-height: 37px;
  height: 340px;
}
.footer-2 a {
  text-decoration: none;
  color: #25465f;
}
.footer-2 :hover {
  color: #edf0f4;
}
.footer-3 a {
  text-decoration: none;
  color: #25465f;
}
.footer-3 :hover {
  color: #edf0f4;
}
.footer-4 a {
  text-decoration: none;
  color: #25465f;
}
.footer-4 :hover {
  color: #edf0f4;
}
/* <!------------------------------------------------- footer social media  is start -----------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------> */
.icons-3 {
  display: flex;
  justify-content: center;
  gap: 27px;
  margin: 31px;
}
.icons-3 :hover {
  background: #666d72;
  border-radius: 20px;
}
.footer-p {
  text-align: center;
  font-weight: bold;
  color: #8f979d;
  font-size: 12px;
}

/*--------------------------------------------- Responsive website Layout start ---------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/


